/* Estilo de página */
:root {
    --primary-color: black;
    --secondary-color: black;
    --background-color: white;
    --accent-color: rgb(17, 153, 231);
    --text-color: black;
}
    
body {
    background: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 15px;
    width:  1200px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--accent-color);
}

nav a:hover {
    color: var(--primary-color);
    transition: color 0.3s;
}

/* Estilo do botão de login */
#login-btn {
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
    color: var(--background-color);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
}

#login-btn:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}


/* Formulário de Cadastro */
main {
    display: flex;
    margin: 90px;
    height: 720px;
    border-radius: 10px;
    justify-content: center;
    max-width: 1200px;
    padding: 2rem; 
}

/* Imagem */
.image img {
    border-radius: 10px;
    width: 750px; 
}

/* Inscreva-se */
#inscreva-btn {
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
    color: var(--background-color);
    padding: 0.8rem 1.2rem;
    margin: 1rem 0;
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#inscreva-btn:hover {
    opacity: 0.9;
}

/* Login */
#open-btn{
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
    color: var(--background-color);
    padding: 0.8rem 1.2rem;
    margin: 1rem 0;
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#open-btn:hover {
    opacity: 0.9;
}

/* Formulário */
.register {
   font-family: Arial, Helvetica, sans-serif;
   width: 742px; 
   padding: 30px 120px;
   height: 720px;
   background-color: white;
   border-radius: 0px 10px 10px 0px;
}

.Title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(17, 153, 231);
    margin-bottom: 25px;
}

.input-subgroup1 {
    
    margin-top: 10px;
    display: flex;
    gap: 120px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    width: 100%;
    margin: 0.8rm 0;
    padding: 0.8rem 3.2rem;
    border: none;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 6px #00000041;
    font-size: 0.8rem;
}

.box {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
    font-size: 15px;
    gap: 10px;
    margin-bottom: 1.1rem;
}

/* Botão */
button {
    border: 2px solid var(--primary-color);
    background-color: var(--accent-color);
    color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.75rem;
    width: auto; 
    min-width: 100px; 
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, opacity 0.3s;
}

#button:hover {
    opacity: 0.9;
}

/* cadastro de login */
.log-sociais {
    text-align: center;
}

.log-sociais img {
    margin: 0;
    width: 60px;
    height: 50px;
    margin: 5px 0 5px 5px;
    cursor:pointer;
}

/* Estilos de Contato */
.subtitulo {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    margin: 30px;
    color: var(--text-color);
}

/* Rodapé */
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px auto;
    color: var(--text-color);
}

/* Redes sociais */
.socialnetworks {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 250px;
    margin: auto;
}
