/* Estilo de página */
body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.figure img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: rgb(17, 153, 231);
    transition: 0.3s all;
}

/* estilização de botões de cadastro e login */
#exit-btn {
    background-color: rgb(17, 153, 231);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--primary-color);
    color: rgb(246, 247, 248);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 1px 6px #00000041;
    border-radius: 10px;
}

#exit-btn:hover {
    background-color: rgb(17, 153, 231);
    color: white;
}

/* conteúdo */
main {
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(231, 19, 19);
}

.settings-section {
    margin-bottom: 20px;
}

.settings-section h2 {
    margin-bottom: 10px;
}

.settings-section label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 14%;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* Estilização de contatos */
.subtitulo {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    margin: 30px;
    color: var(--text-color);
}

/* Estilização de Redes sociais */
.socialnetworks {
    display: flex;
    color: var(--text-color);
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 250px;
    margin: auto;
}

/* estilização de rodapé */
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px auto;
    color: var(--text-color);
}

/* responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .title h3 {
        font-size: 1.5em;
    }

    .contactinfo {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .socialnetworks a {
        margin: 3px;
        font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
    }

    h1 {
        font-size: 24px; /* Ajusta o tamanho do título para telas menores */
    }

    .settings-section label {
        font-size: 14px; /* Ajusta o tamanho da fonte dos rótulos */
    }
}

