/* Estilo Geral */
body {
    background: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(17, 153, 231);
}

nav a:hover {
    color: rgb(17, 153, 231);
    transition: 0.3s all;
}

#loga-se-btn {
    background-color: rgb(17, 153, 231);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(5, 5, 5);
    color: rgb(246, 247, 248);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}

#loga-se-btn:hover {
    background-color: rgb(17, 153, 231);
    color: white;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(17, 153, 231);
}

input, .form-control, .textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0.75rem;
    border-radius: 10px;
    margin: 5px 0;
    border: 1px solid rgb(5, 5, 5);
    font-size: 1rem; 
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.send {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#send-btn {
    background-color: rgb(17, 153, 231);
    width: 180px;
    border: 1px solid rgb(5, 5, 5);
    color: rgb(240, 245, 248);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;   
}

#send-btn:hover {
    background-color: rgb(17, 153, 231);
    color: white;
}

/* Container */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    color: black;
}

/* Estilo Contatos */
.subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 30px auto;
    color: var(--text-color);
}

.contactclasse, .contactinfo, footer {
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

/* Redes Sociais */
.socialnetworks {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 250px;
    margin: auto;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 36px;
    }

    .form {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 28px;
    }

    .form {
        width: 100%;
    }

    .send {
        width: 100%;
    }
}


 






