/* Estilo de página */
:root {
    --primary-color: black;
    --secondary-color: black;
    --background-color: white;
    --accent-color: #2196F3;
    --text-color: black;
}

body {
    background: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

/* Cabeçalho */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Imagem dentro de uma figura */
.figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* Navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--accent-color);
}

nav a:hover {
    color: var(--primary-color);
    transition: color 0.3s;
}

/* Estilo do botão de login */
#login-btn {
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
    color: var(--background-color);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
}

#login-btn:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* Container principal */
.container {
    width: 90%;
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    justify-content: center;
}

/* Estilos para formulários */
h2 {
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 2rem;
}

fieldset {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00000041;
  
}

legend {
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(17, 153, 231);
    padding: 0 0.5rem;
    font-weight: bold;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="url"],
select,
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 0.8px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00000041;
    font-size: 1rem;
    box-sizing: border-box;
}

.upload-group {
    margin-bottom: 1rem;
}

label.project {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    cursor: default;
}

input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}

input[type="email"],
input[type="tel"] {
    width: 50%;
    margin: 5px;
    padding: 0.5rem;
    border: 0.8px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00000041;
    font-size: 1rem;
    box-sizing: border-box;
}


textarea {
    resize: vertical;
    min-height: 100px;
}

/*idioma*/
.language-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 10px;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .language-btn {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 6px #00000041;
    border-radius: 10px;
  }
  
  .language-btn:hover {
    background-color: #0056b3;
  }
  

/* Grupos de Inputs */
.checkbox-group,
.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

}

.checkbox-group input,
.radio-group input {
    margin-right: 0.5rem;
}

.date-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.date-group select {
    width: 45%;
}

/* Botões de salvar, alterar e seguir*/
.form-change {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-btn,
.form-group button {
    border: 2px solid var(--primary-color);
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 0.75rem;
    width: auto;
    min-width: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, opacity 0.3s;
}

#button-btn:hover {
    opacity: 0.9;
}

/* Estilo específico para botões de ação */
.button-btn[type="save"],
.button-btn[type="change"],
.button-btn[type="following"] {
    background-color: #007bff;
    color: white;
    border: 0.8px solid black;
    border-radius: 15px;
}

@media (max-width: 600px) {
    .form-change {
        flex-direction: column;
        align-items: center;
    }

    button,
    .form-group button {
        width: 100%;
        max-width: 200px;
        margin-bottom: 10px;
    }
}

/* Estilos de Contato */
.subtitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    color: var(--text-color);
}

/* Rodapé */
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px auto;
    color: var(--text-color);
}

/* Redes sociais */
.socialnetworks {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 250px;
    margin: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 36px;
    }

    .form {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

