
/* Estilo de página */
* body {
    background: black;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .figure img {
        display: block;
        margin: 0 auto;
    }
    
    nav ul {
        font-family: 'Courier New', Courier, monospace;
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: right;
    }
    
    nav ul li {
        margin: 0 10px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: rgb(17, 153, 231);;;
    }
    
    nav a:hover {
        color: rgb(17, 153, 231);
        transition: 0.3s all;
    }
    
    #inscreva-se-btn {
        background-color: rgb(17, 153, 231);
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid rgb(246, 247, 248);
        color: rgb(246, 247, 248);
        padding: 10px;
        border-radius: 15px;
        text-decoration: none;
    }
    
    #inscreva-se-btn:hover {
        background-color: rgb(17, 153, 231);;
        color: white;
    }

/* Estilização do login */

main {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    max-width: 1200px;
    justify-content: space-between;
}

h2 {
    font-size: 30px;
    line-height: 0.1px;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: rgb(17, 153, 231);
}

.login-password {
    display: flex;
    width: 120%;
    flex-direction: column;
    
}

.login-pass {
    border: 2px solid rgb(17, 153, 231);
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: right; 
    justify-items: right;
    width: 110%;
}

label {
    margin-bottom: 0.5rem;
    color: rgb(17, 153, 231);
}

input {
    border: 2px solid rgb(17, 153, 231);
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.open {
    width: 110%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#open-btn{
    background-color: rgb(17, 153, 231);
    border: 2px solid rgb(245, 247, 248);
    color: rgb(240, 245, 248);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;   
}

#open-btn:hover{
    background-color: rgb(17, 153, 231);
        color: white;
    }

/*Article*/
article img {
        max-width: 100%;
        height: auto;
        align-self: flex-end;
    }

/*subtítulo*/
.subtitulo {
    display: flex;
    margin: 0.5;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5px; 
} 

/*redes sociais*/
.socialnetworks {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 250px;
    margin: auto;
    padding: auto; 
}

.contactclasse {
    color: white;
    display: flex;
    margin: 5px;
    justify-content: center;
}

.contactinfo {
    color: white;
    display: flex;
    margin: 5px;
    justify-content: center;
}

/*direitos*/
footer {
    color: white;
    display: flex;
    margin: auto;
    justify-content: center;
}