:root {
    --primary-color: rgb(17, 153, 231);
    --secondary-color: rgb(246, 247, 248);
    --text-color: black;
    --font-family: Arial, Helvetica, sans-serif;
}

/* Estilo de página */
body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.figure img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: rgb(17, 153, 231);
    transition: 0.3s all;
}

/* estilização de botões de cadastro e login */
#login-btn {
    background-color: rgb(17, 153, 231);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--primary-color);
    color: rgb(246, 247, 248);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 1px 6px #00000041;
    border-radius: 10px;
}

#login-btn:hover {
    background-color: rgb(17, 153, 231);
    color: white;
}


/* Login */
.login-password {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Botões */
button, a.button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    border: 1px solid #050505;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button:hover, a.button:hover {
    background-color: var(--primary-color);
    color: white;
}

/* Container de Login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    gap: 20px;
    color: var(--text-color);
}

.login {
    background-color: var(--primary-color);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    flex: 1;
}

.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    max-width: 60%;
    height: auto;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input.login-pass {
    width: 75%;
    margin: 5px;
    padding: 0.8rem 3.2rem;
    border: none;
    border-radius: 10px;
    border: 1px solid  black;
    box-shadow: 1px 1px 6px #00000041;
    font-size: 0.8rem;
}

.input-box,
.open {
    margin-top: 10px;
}

.input-box a {
    color: white;
    text-decoration: none;
}

/* Estilo contatos */
.subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    color: var(--text-color);
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px auto;
    color: var(--text-color);
}

/* Redes sociais */
.socialnetworks {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 250px;
    margin: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .figure img {
        max-width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .login-container {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .login {
        width: 90%;
    }

    input.login-pass, input.login-user {
        width: calc(100% - 20px);
        padding: 10px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    .subtitulo {
        font-size: 14px;
        margin: 20px;
    }

    .login-image img {
        max-width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .socialnetworks {
        max-width: 100%;
        justify-content: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}







