body {
    background: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    }

    header {
        display: flex;
        justify-content: space-between; 
    }
    
    .figure img {
        display: block;
        margin: 0 auto;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
    
    nav ul li {
        margin: 0 10px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: rgb(17, 153, 231);
    }
    
    nav a:hover {
        color: rgb(17, 153, 231);
        transition: 0.3s all;
    }
    
    #inscreva-se-btn {
        border: 2px solid rgb(17, 153, 231);
        padding: 10px;
        border-radius: 15px;
        text-decoration: none;
    }
    
    #inscreva-se-btn:hover {
        background-color: rgb(17, 153, 231);
        color: white;
    }

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
}

h1 {
    font-size: 35px;
    line-height: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

strong {
    color: rgb(17, 153, 231);
}

p {
    flex-wrap: wrap;
    line-height: 1.2;
    max-width: 2000px;
    font-family: Arial, Helvetica, sans-serif
}

article img {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 10px;
    padding: 60px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form input[type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(17, 153, 231);
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

/*estilo contatos*/
.subtitulo {
    display: flex;
    color: white;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: auto; 
} 

/*redes sociais*/
.socialnetworks {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-wrap: wrap;
    max-width: 250px;
    margin: 0 auto;
    padding: 0 20px; 
}

.contactclasse {
    color: white;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.contactinfo {
    color: white;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

/*direitos*/
footer {
    color: white;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}






